<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Редактирование новость</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #c84aee;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <div class="container mt-5">
        <div th:each="el:${news}" class="alert alert-info mt-2">
            <h3 th:text="${el.title}"></h3>
            <p th:text="${el.full_text}"></p>
            <a th:href="'/' + ${el.id} + '/edit'" class="btn btn-warning">Редактирование</a>
            <form th:action="'/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-warning" type="submit">Удаление</button>
            </form>
        </div>
    </div>
</body>
</html> 