<div th:fragment="header">
        <style>
            header {
                background-color: #ffffff;
            }
        </style>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="/">Главная</a>
            <a class="p-2 text-muted" href="/about">О создателе</a>
            <a class="p-2 text-muted" href="/contacts">Контакты</a>
            <a class="p-2 text-muted" href="/add">Добавить статью</a>
        </nav>
    </div>
</div>